extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6F")= title
        button.btn(class="btn-primary btn-sm ml-1", style="margin: 5px; width: 120px;", onclick=`dispatch(\"/resource/create\")`) Create
        - var results = results
        div(class='container' style="text-align: center;")  
            div.row 
                each item, index in results
                    div(class='col-md')
                        div(class='card', style='width: 17rem;')
                            div(class='card-body')
                                - let destination = `dispatch(\"/resource/update?id=${item._id}\")`
                                - let detailBtn = `dispatch(\"/resource/detail?id=${item._id}\")`
                                - let deleteBtn = `dispatch(\"/resource/delete?id=${item._id}\")`
                                div(class='card-text') animalName : #{item["animalName"]} <br> animalWeight : #{item["animalWeight"]} <br> animalType: #{item["animalType"]} 
                                    button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination) Update
                                    button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= detailBtn) Details 
                                    button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= deleteBtn) Delete
  
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
        }

      function dispatch(path) {
            window.location.href = path;
        }